.container {
    max-width: 90%;
    padding: 0 0;
    margin: 1rem auto 6rem;
    align-items: center;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }